* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
}



/* .sticky-container {
  position: fixed;
  top: 0px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
} */
/* TOP NAVIGATION */
/* WORKING WITH THE MENU ICON */
.menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}


.menu div {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 4px;
  z-index: 4;
}

.menu span {
  width: 100%;
  height: 3px;
  background-color: #14452F;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}

.menu .line-1 {
  width: 50%;
  transform: translate(-100%, -12px);
}

.menu .line-3 {
  width: 50%;
  transform: translate(0%, 8px);
}

.openmenu span {
  left: 90%;
}

.openmenu .line-1 {
  width: 100%;
  transform: translate(-100%, 0%) rotate(-45deg);
}

.openmenu .line-2 {
  width: 0;
}

.openmenu .line-3 {
  width: 100%;
  transform: translate(-100%, 0px) rotate(45deg);
} 

.container {
  /* padding: .5em; */
  width: 100%;
  position: relative;
}

/* Business Logo */
.business-logo {
  width: 70px;
  height: 50px;
}


/* Navigation Side Icon */

.side-icon {
  width: 30px;
}

/* Top-Navigation */
.top-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  /* overflow: hidden; */
}

/* Navigation BAr */
.navigation-bar {
  position: absolute;
  top: 70px;
  left: 50%;
  /* position: relative; */
  background-color: rgb(255, 230, 230);
  width: 50%;
  height: 100vh;
  z-index: 4;
  opacity: 0;
  transition: opacity 1s;
  /* transform: translateX(50%); */
}

.list-item {
  padding: .5em;
}

.side-icon-bx {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-icon-bx li  {
  /* background-color: white; */
}

.side-icon-bx li img {
  background-color: white;
  margin: 0 .5em;
  padding: .5em;
  border-radius: 50%;
}

.side-icon-bx li img:hover {
  background: rgb(255, 110, 110);
}

ul li {
  list-style: none;
  padding: .5em 0;
}

li a {
  text-decoration: none;
  color: black;
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(7, 5, 5, 0.4);
  filter: blur(20px);
  /* backdrop-filter: 10px; */
  z-index: 2;
  opacity: 0;
  transition: opacity 2;
}

.hidden {
  /* display: none; */
  opacity: 1;
}


/* HOMEPAGE */
.homepage {
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.homepage h3 {
  text-transform: uppercase;
  font-size: .9rem;
  margin-bottom: .5em;
}

.order-components {
  width: 350px;
  height: 550px;

  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 2em;
}

.order-info {
  width: 100%;
  height: 550px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: -30px;
  /* transition: transform 2s; */
}

.order-food-image {
  width: 70%;
  object-fit: scale-down;
}


.about-order {
  position: relative;
}

.about-order h2 {
  color: red;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.1rem;
}

.about-order p {
  line-height: 1.5em;
  /* margin: 0 1em; */
  /* padding: 0 1em; */
  margin-bottom: 2em;
  font-size: 1rem;
}

.price {
  position: absolute;
  transform: rotate(270deg);
  right: -40px;
  top: -150px;
  font-size: 2.5rem;
  color:rgb(119, 70, 70);
}

.book {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: .6em 1em;
  margin-right: 1em;
  position: relative;
  z-index: 1;
}


.booking {
  color: white;
  background-color: black;
}

.book::before{
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  border-top: 2px solid black;
  border-left: 2px solid black;
  z-index: -1;
  transition: all .25s;
  opacity: 0;
}
.book:hover::before,
.book:hover::after {
  opacity: 1;
  width: 24px;
  height: 24px;
}
.book::after{
  content: '';
  position: absolute;
  bottom: -6px;
  right: -6px;
  /* width: 20px;
  height: 20px; */
  width: 0;
  height: 0;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transition: all .25s;
  z-index: -1;
  opacity: 0;
}

/* Working with Dot */
.dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -2em;
  position: absolute;
  top: 100px;
  left: 30px;
}
.dot {
  width: 15px;
  height: 15px;
  background-color:rgb(255, 191, 191);
  z-index: 1;
  margin: .5em 0;
  border-radius: 100px;
}

.active-dot {
  background-color: red;
  transition: all 1s;
  height: 35px;
}

/* Eating Time */
.eating-time {
  display: flex;
  text-align: left;
  margin-left: 2.3em;
  position: absolute;
  bottom: 0px;
}

.eating-time p {
  font-size: 1.1rem;
  margin-top: 2em;
  margin-right: 3em;
}

.eating-time p span{
  font-size: .9rem;
  color: grey;
}

/* Popular Meal */
.popular-meal, .popular-menu {
  padding: 1em;
  text-align: center;
  position: relative;
}

.popular-meal h3, .popular-menu h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.popular-meal h2, .popular-menu h2 {
  z-index: 1;
  font-size: 1.5rem;
  color: red;
}

.ar-design {
  width: 50px;
  transform: rotate(20deg);
  position: relative;
  bottom: 20px;
  font-size: .9rem;
}

.leaf {
  width: 50px;
  position: absolute;
  top: 10px;
  left: 60%;
  filter: blur(3px);
  z-index: -1;
}

.meal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
  transition: transform 1s;
}

.meal-list:hover {
  transform: scale(1.1);
}

.meal-image {
  width: 50%;
}

.meal-country {
  text-transform: uppercase;
  font-size: .9rem;
  margin: .3em 0;
}

.meal-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: .3em 0;
  color: rgb(211, 4, 4);
}

.add-cart {
  color: white;
  background-color: black;
  padding: 1em 1.8em;
  font-size: .9rem;

  display: flex;
  align-items: baseline;
  text-decoration: none;
  position: relative;
}

.add-cart span {
  border-left: 1px solid white;
  padding-left: .5em;
  margin-left: .5em;
  font-size: .7rem;
}

.add-cart::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  /* width: 20px;
  height: 20px; */
  width: 0;
  height: 0;
  border-top: 2px solid rgb(185, 17, 17);
  border-left: 2px solid rgb(185, 17, 17);
  z-index: -1;
  transition: all .25s;
  opacity: 0;
}

.add-cart:hover::before,
.add-cart:hover::after {
  opacity: 1;
  width: 24px;
  height: 24px;
  
}

.add-cart::after {
  content: '';
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 0;
  height: 0;
  border-bottom: 2px solid rgb(185, 17, 17);
  border-right: 2px solid rgb(185, 17, 17);
  transition: all .25s;
  z-index: -1;
  opacity: 0;
}

/* Food Series */
.series-delivery {
  position: relative;
}
.series-info {
  display: flex;
  align-items: center;
  transition: all .2s;
}

.series-info:hover {
  border-left: 5px solid red;
  background-color: rgb(255, 223, 223);
}

.series {
  display: flex;
  gap: 15px;
  position: relative;
  padding: 15px;
  min-width: 300px;
  overflow: none;
  overflow-x: auto;
  background-color:rgb(238, 237, 237);
  margin-bottom: 1em;
}

.series::-webkit-scrollbar {
  height: 5px;
}

.series::-webkit-scrollbar-thumb {
  background-color: red;
  width: 2px;
  border-radius: 5px;
}

.active-series {
  padding: .5em;
  border-left: 5px solid red;
  background-color:rgb(255, 223, 223);
  transition: all .2s;
}

.series-image {
  width: 50px;
  border-radius: 100%;
  margin-right: 5px;
}

/* Series Display */
.series-display {
  background-color:rgb(236, 236, 236);
  z-index: 0;
  padding:1.5em;
  text-align: center;
  margin: 0 auto;
}

.series-text {
  font-size: 1.9rem;
  font-weight: bold;
}

.series-heading {
  text-transform: uppercase;
  font-size: 1rem;
}

.popular-menu h2 {
  margin: .2em 0;
}

.series-wording {
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.1rem;
}

.series-display-image {
  width: 350px;
  margin:0 auto;
  margin-top: 1em;
}

.getstarted {
  margin: 0 auto;
  width: 120px;
}

.get-started {
  color: white;
  background-color: red;
  padding: .7em 1em;
  font-size: 1rem;

  text-decoration: none;
  position: relative;
  display: block;

  width: 120px;
}

.get-started::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  border-top: 2px solid rgb(185, 17, 17);
  border-left: 2px solid rgb(185, 17, 17);
  z-index: 1;
  transition: all .25s;
  opacity: 0;
}

.get-started:hover::before,
.get-started:hover::after {
  opacity: 1;
  width: 24px;
  height: 24px;
}
.get-started:hover {
  background-color: rgb(185, 17, 17);
}
.get-started::after {
  content: '';
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 0;
  height: 0;
  border-bottom: 2px solid rgb(185, 17, 17);
  border-right: 2px solid rgb(185, 17, 17);
  transition: all .25s;
  z-index: 1;
  opacity: 0;
}

.series-detail {
  display: none;
}

.active-detail {
  display: grid;
  margin: 0 auto;
}


.homepage-background {
  position: absolute;
  left: 30px;
  opacity: .1;
}

/* POPULAR MENU */
.popular-menu {
  position: relative;
}

.menu-lists {
  margin-top: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-list {
  margin: 0 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .5em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  position: relative;
  transform: scale(1);
  margin-bottom: 2em;
  transition: 1s;
  width: 250px;
  height: 250px;
}

.menu-list::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  opacity: 1;
  width: 24px;
  height: 24px;
  border-top: 2px solid rgb(185, 17, 17);
  border-left: 2px solid rgb(185, 17, 17);
  z-index: 1;
  transition: all 2s;
}

.menu-list::after {
  content: '';
  position: absolute;
  bottom: -6px;
  right: -6px;
  border-bottom: 2px solid rgb(185, 17, 17);
  border-right: 2px solid rgb(185, 17, 17);
  transition: all 1s;
  z-index: 1;
  opacity: 1;
  width: 24px;
  height: 24px;
}

.menu-list:hover {
  transform: scale(1.1);
}

.about-listname {
  margin:.5em 0;
  font-size: 1rem;
}
.menu-image {
  width: 100px;
}

.share {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.list-price {
  display: flex;
}

.share-icon {
  margin-right: .5em;
}

.seemore {
  height: 30px;
}

.see-more {
  text-decoration: none;
  color: white;
  background: red;
  padding: .8em 1.9em;
  font-size: 1rem;
  position: relative;
  transition: 1s;
}
.rArr {
  display: none;
  transition: 1s;
  opacity: 0;
}

.see-more:hover .rArr{
  display: inline;
  opacity: 1;
}
.see-more::before {
  content: '';
  position: absolute;
    top: -6px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 2px solid rgb(185, 17, 17);
    border-left: 2px solid rgb(185, 17, 17);
    z-index: 1;
    transition: all 1s;
    opacity: 0;
}

.see-more:hover::before,
.see-more:hover::after {
  opacity: 1;
  width: 24px;
  height: 24px;
}

.see-more::after {
  content: '';
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 0;
  height: 0;
  border-bottom: 2px solid rgb(185, 17, 17);
  border-right: 2px solid rgb(185, 17, 17);
  transition: all 1s;
  z-index: 1;
  opacity: 0;
}

/* Download APP */
.download-app, .testimonial-page {
  padding: 1em;
  position: relative;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.download-app h3 {
  font-size: .9rem;
}

.download-app h2 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: .5em 0;
}

.download-app p {
  font-size: 1.1srem;
}

.mobile-image {
  width: 100%;
}


/* Testimonial */
.location-image {
  position: absolute;
  width: 100px;
}

.testimonial-lists {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  margin-top: 2em;

  position: relative;
  overflow: hidden;
}

.testi {
  width: 100%;
  height: 400px;
  text-align: center;
  padding: .5em;

  position: absolute;
  transition: 1s;
}

.testimonial-image img {
  width: 100%;
  padding-bottom: 1em;
}

.testimonial-image p {
  font-size: .8rem;
}

.bttn {
  position: absolute;
  bottom: 0px;
  right: 0px;

  display: flex;
  align-items: center;
}
.bttn p {
  margin: 0 1.5em;
}
.arrow-left, .arrow-right {
  width: 15px;
  height: 10px;
  transform: rotate(270deg);
  position: relative;
}

.active-no {
  font-size: 2.5rem;
  color: red;
}

.testimonial-word {
  font-size: .9rem;
}

.testimonial-page {
  margin-bottom: 5em;
}

/* footer */
.subscribe {
  position: relative;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
  padding: 3em 1em;
}
.sub-image {
  width: 55%;
  position: absolute;
  right: -50px;
  top: -30px;
  opacity: .3;
  transform: rotate(300deg);
}

.subscribe p {
  font-size: .9rem;
  margin: .5em 0;
}

form {
  display: flex;
  position: relative;
  align-items: center;

}

form input {
  flex: 1;
  padding: 1em .5em 1em 1em;
  border-radius: 20px;
  border: 1px solid red;
}

form button {
  position: absolute;
  right: 3px;
  border: none;
  background-color: red;
  padding: .8em 1em;
  color: white;
  border-radius: 20px;
}

.bottom-page {
  color: white;
}

.bottom-logo{
  text-align: center;
}


.bottom-logo img {
  width: 70px;
}

.social-links img {
  width:15px;
  margin: 0 5px;
}

.bottom-page {
  background-color: #082216;
  padding: 1em;
}

.bottom-page div {
  margin-bottom: 1.5em;
}

.bottom-page div h4 {
  margin-bottom: .7em;
}

.contact h4 {
  margin-bottom: .5em;
}

.contact p {
  margin: .5em 0;
}

.contact p img {
  margin-right: 1.5em;
}

.copyright {
  text-align: center;
}


@media (min-width: 420px){
  .homepage h3{
    font-size: 1rem;
  }

  .meal-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
  }

  .meal-name {
    font-size: 1.3rem;
  }

  .testimonial-image {
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 2px solid red;
  }

  .testimonial-image h4 {
    font-size: 1.3rem;
  }

  .testimonial-image p {
    font-size: 1rem;
  }
}

@media (min-width: 500px) {

  /* .order-components, .order-info {
    width: 400px;
  }

  .order-info {
    height: 470px;
  } */

  .order-food-image{
    margin-bottom: .5em;
  }

  .about-order h2 {
    font-size: 1.5rem;
  }

  .about-order p {
    font-size: 1rem;
  }

  .price {
    color: rgb(110, 75, 75);
  }

  .dots {
    left: 30px;
  }

  .popular-meal h3, .popular-menu h3 {
    font-size: 1.1rem;
  }

  .popular-meal h2, .popular-menu h2 {
    font-size: 1.5rem;
  }

  .meal-lists {
    margin-top: 1em;
  }

  .meal-list {
    margin-bottom: 2em;
  }

  .meal-image {
    width: 30%;
  }

  .download-app {
    padding: 1.5em;
  }

  .download-app p {
    font-size: 1.1rem;
  }

  .location-image {
    left: 50px;
  }

  .testimonial-image {
    margin-bottom: .5em;
  }

  .testi h4 {
    font-size: 1.2rem;
  }

  .testi p {
    font-size: 1.1rem;
  }

  .testimonial-lists {
    width: 350px;
    height: 550px;
  }

  .active-no {
    font-size: 3.5rem;
  }

  .no-testi {
    font-size: 1rem;
  }

  .footer {
    position: relative;
  }

  .subscribe {
    position: absolute;
    /* margin: 0 2em; */
    width: 80%;
    left: 50px;
    top: -120px;
    padding: 4em 2em;
  }

  .bottom-page {
    padding-top: 10em;
  }

  .testimonial-page {
    margin-bottom: 10em;
  }

  .series-wording {
    font-size: 1.1rem;
    padding: 0 2em;
  }
}

@media (min-width: 600px) {

  .series-text {
    font-size: 2.8rem;
  }

  .series-wording {
    font-size: 1.1rem;
    padding: 0 2em;
  }

  .menu-lists {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    /* background-color: grey; */
  }

  .menu-list {
    width: 250px;
    margin: 0 1.5em;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  .seemore {
    position: relative;
    left: 50%;
    margin-top:1em 0;
  }

  .testimonial-lists {
    width: 100%;
    height: 400px;
    margin-top: 0;
    /* background-color: grey; */
  }

  .testi {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .testimonial-list {
    display: flex;
    align-items: center;
  }

  .testimonial-image {
    width: 40%;
    border-bottom: none;
    border-right: 1.5px solid red;
    margin: 1em;
  }

  .testimonial-image img {
    padding-bottom: 0%;
  }

  .testimonial-wording {
    width: 60%;
    text-align: left;
    font-size: 1rem;
    line-height:1.5em;
  }

  .bttn {
    bottom: 20px;
  }

  .subscribe {
    padding: 4em 2em;
  }

  .subscribe h3 {
    font-size: 1.5rem;
  }

  .subscribe p {
    font-size: 1.3rem;
  }

  form {
    font-size: 1.5rem;
  }

  form input {
    padding: 1.5em .5em 1.5em 1.5em;
    border-radius: 30px;
  }

  form button {
    padding: 1rem 1.2rem;
    border-radius: 30px;
    right: 5px;
  }

  .bottom-logo {
    margin-top: 2em;
  }

  .bottom-page {
    text-align: center;
  }

  .bottom-page div h4 {
    font-size: 1.5rem
  }

    .bottom-page div p {
      font-size: 1.2rem;
      margin: 5px 0;
    }
}

@media (min-width: 650px) {

  .meal-lists {
    display: flex;
  }

  .add-cart {
    padding: .5em .9em
  }

  .meal-list{
    width: 250px;
  }
}

@media (min-width: 700px) {
  .top-navigation {
    position: relative;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 1em;
  }

  .logo-box {
    width: 10%;
  }
  .navigation-bar {
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 85%;
  }

  .list-item {
    display: flex;
    padding: 0;
  }

  .list-item li a {
    margin-right: 1em;
    padding: 1em 0;
    position: relative;
    transition: all 1s;
  }

  .list-item li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: red;
    transition: all 1s;
  }

  .list-item li a:hover::before{
    width: 100%;
  }

  .navigation-icon {
    display: none;
  }

  .side-icon-bx li img {
    margin: 0 .7em;
    padding: .3em;
  }

  .subscribe {
    left: 10%;
  }
}

@media (min-width:800px) {

  .navigation-bar {
    width: 80%;
  }
  .list-item li a {
    margin-right: 1.5em;
  }

  .about-order p {
    font-size: 1.1rem;
  }

  .order-components {
    width: 400px;
    height: 600px;
  }

  .order-info {
    height: 600px;
  }

  .eating-time {
    margin-left: 3.7em;
  }

  .menu-lists {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu-list {
    width: 200px;
    height: 250px;
  }

  .seemore {
    margin: 0 auto;
    left: 100%;
  }

  .app-text p {
    margin: 0 7em;
  }

  .mobile-image {
    width: 80%;
    margin: 0 auto;
  }

  .testimonial-lists {
    width: 80%;
    margin: 0 auto;
  }

  .location-image {
    left:150px;
  }

  .subscribe {
    width: 60%;
    left: 150px;
  }
}

@media (min-width: 850px) {
  .homepage {
    width: 100%;
    margin: 0 auto;
  }
  .the-box {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
  }
  .order-components {
    width: 80%;
    height: 400px;
  }

  .order-info {
    height: 400px;
    top: -50px;
    justify-content: space-between;
  }

  .order-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  .order-food-image {
    width: 80%;
  }

  .price {
    position: absolute;
    /* position: relative; */
    z-index: 5;
    color: red;
    transform: rotate(270deg);
    font-size: 1.8rem;
    top: 50%;
    left: 355px;
  }

  .order-food {
    order: 2;
    width: 48%;
    position: relative;
    left: 35px;
  }

  .about-order {
    order: 1;
    width: 45%;
    text-align: left;
  }

  .about-order h2 {
    font-size: 2rem;
  }

  .about-order p {
    font-size: .9rem;
  }

  .background-blur {
    z-index: -5;
  }

  .eating-time {
    position: relative;
    top: 300px;
    margin-left: 0;
  }

  .dots {
    top: 150px;
  }

  .popular-meal, .food-series, .popular-menu, .download-app, .testimonial-page {
    width: 90%;
    margin: 0 auto;
  }

  .testimonial-wording {
    font-size: 1rem;
  }

  .subsscribe {
    padding: inherit 2em;
    position: relative;
    top: 0;
  }

  .subscribe h3 {
    font-size: 1.5rem;
  }

  .subscribe p {
    font-size: 1rem;
  }

  .testimonial-lists {
    height: 400px;
  }

  .testi {
    width: 100%;
    height: 300px;
  }

  .testimonial-page {
    margin-bottom: 6em;
  }
}

@media (min-width: 900px) {
  .order-flex {
    position: relative;
  }
  .about-order p {
    font-size: 1rem;
  }

  .order-components {
    height: 450px;
  }

  .order-info {
    height: 450px;
  }

  .order-food {
    /* padding: .5em; */
    margin: 0;
    width: 50%;
    position: relative;
    left: 30px;
  }

  .about-order {
    width: 48%;
  }

  .popular-meal,
  .food-series,
  .popular-menu,
  .download-app,
  .testimonial-page {
    width: 80%;
    margin: 0 auto;
  }

  .menu-lists {
    gap: .5em;
    margin: 0;
  }

  .popular-menu {
    margin: 0 auto;
  }
  .testimonial-page {
    margin-bottom: 10em;
  }
}

@media (min-width: 1024px) {

  .homepage {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .order-components {
    margin-bottom: 0;
  }

  .popular-meal {
    padding: 0;
  }
  .menu-list {
    width: 220px;
  }
  
  .price {
    left:400px;
  }
  .testimonial-lists {
    height: 300px;
  }
  
  .app-text p {
    margin: 0;
  }
  
  .subscribe {
    top: 0;
    left: 220px;
    margin: 0 auto;
  }
  
  .footer {
    padding-top: 1em;
  }

  .download-app {
    width: 60%;
  }

  .series {
    width:80%;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .series-display {
    width: 90%;
    margin: 0 auto;
  }

  .subscribe {
    position: relative;
    left:0%;
    top: 100px;
  }

  .testimonial-page {
    margin-bottom: 0em;
  }
}

@media (min-width: 1200px) {
  .homepage {
    display: flex;
    flex-direction: column;
  }

  .order-components {
    max-width: 80%;
    max-height: 100%;
  }

  .eating-time {
    top: 280px;
  }

  .navigation-bar {
    width: 70%;
  }

  .navigation-bar .list-item li a {
    margin-right: 3.5em;
  }

  .series {
    max-width: 80%;
  }

  .meal-lists {
    width: 80%;
    margin: 0 auto;
  }

  .bottom-page {
    padding-top: 4em;
  }
}

@media (min-width: 1300px) {
  .order-components {
    height: 500px;
  }

  .order-info {
    height: 500px;
  }

  .order-food-image {
    width: 70%;
  }

  .about-order {
    width: 42%;
  }

  .about-order h2 {
    font-size: 2.9rem;
  }

  .eating-time {
    top: 335px;
  }

  .price {
    left: 500px;
  }

  .homepage-background {
    top: 30px;
    left: 45%;
  }

  
}
